body {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}
.card {
  margin: 40px;
  background: #c7d9ea;
  color: white;
  background-image: linear-gradient(
    to bottom,
    rgb(162, 191, 221) 30%,
    rgb(120, 149, 178) 90%
  );
  padding: 20px;
  border-radius: 20px;
  border-color: #9cacbb;
  width: 100%;
  max-width: 800px;
}
.hour {
  display: inline;
  color: white;
}
.currentMonth {
  color: white;
}
.currentDay {
  display: inline;
  color: white;
}
.description:first-letter {
  text-transform: capitalize;
}
#current-city:first-letter {
  text-transform: capitalize;
}
.units {
  font-size: 25px;
}
#temperature-c {
  text-decoration: none;
  color: rgb(171, 231, 255);
}
#temperature-f {
  text-decoration: none;
  color: rgb(150, 250, 255);
}
.bottomBox {
  padding: 60px 0 0;
  align-items: center;
  justify-content: center;
}
.bottomBox .row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
span {
  color: rgba(208, 211, 216, 0.9);
}
span.smallText {
  font-size: 12px;
  color: rgba(208, 211, 216, 0.9);
}
.coder {
  font-size: 12px;
  position: relative;
  left: 140px;
}
a:-webkit-any-link {
  color: #0099ff;
  cursor: pointer;
}
